<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>TE-v2.[2012-06-01].0 (Jun 21 2012)</string>
	<string>local build-Jun 29 2012</string>
	<string>T1.7 (740)</string>
	<string>TX-v3.[2012-09-12].0 (Nov  9 2012)</string>
	<string>local build-Oct 16 2012</string>
	<string>T1.7.1 (741)</string>
	<string>TX-v3.[2012-09-12].0 (Nov  9 2012)</string>
	<string>local build-Oct 16 2012</string>
</array>
</plist>
